:root {
    --text-size: 20px;
}

body {
    font-size: var(--text-size);  
    font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;
}

nav {
    overflow-x: auto;
    display: flex;
    padding: 10px 0; 
    
}


nav a{
    margin: 0 15px; 
    white-space: nowrap;
    flex-shrink: 0;
    
}


/* Styling starting here for name animation */
#animateName {
    text-align: center;
    transition: transform 0.5s ease-in-out; 
    font-size: var(--text-size); 
    --text-size: 30px; 
}

#animateName .typewriter {
    transform: translateY(15%); 
}

/* Styling here for inline rotating text */
#dynamicText {
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    margin: 1%;
}


/* styling for the profile picture */
img {
    width: 400px;
    height: auto;
}


/* Styling here for brand/logo images and Profession related content*/
#Intern {
    padding: 1%;
}

#Intern img {
    width: 100px;
    height: auto;
}

#Yoho img {
    width: 130px;
    height: auto;
}

#CSAcademy img {
    width: 180px;
    height: auto;
}


/* Styling here for Intern/Professional related timeframes */
.Time{
    font-size: 14px;
}

/* Styling for head shot */
#Portfolio_Image{
    margin-top: 2%;
    margin-bottom: 2%;
}


/* Styling for the About section of website */
#About {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100%; 
    margin-right: 10%;
}

#About p {
    margin-top: 0; 
}

/* Stylign for the Profession related content of website */
#Professional {
    margin-top: 2%;
}

#Professional p{

    margin-top: 0;
}

/* Styling for the Course section of website */
#Course {
    width: 100%;
    margin-bottom: 2%;
}

#section-title {
    margin-bottom: 4%;
    
}

/* Styling for the 112 Dragon logo */
#Dragon {
    width: 100%;       
    height: auto;      
    object-fit: cover; 
    min-height: 300px;
}


/* Styling here for name animation that's on every page */
.typewriter {
    font-family: 'Brush Script MT', cursive;
    white-space: nowrap; 
    overflow: hidden; 
    border-right: .10em solid black; 
    font-size: 45px;
    width: 15ch;
    /* Animation */
    animation: typing 4s steps(15), blink-caret .5s step-end infinite alternate;
    
  }
/* The typing effect */
@keyframes typing {
    from { width: 0; }
    to { width: 15ch; } 
}

/* The caret/cursor blink effect */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

/* Styling below is for the animated color gliding in section from the #About section */
#About{
    position: relative; 
    overflow: auto; 
    margin: 0%;
}

#About::before{
    content: "";
    position: absolute;
    top: 0;
    right: 100%; 
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #acc8ed, #316cf4, #2bdbd8);
    z-index: -1; /* Places the pseudo-element behind the container content */
    animation: slideIn 2s forwards; /* Complete the animation in 2 seconds and stay at the final state */
}

@keyframes slideIn {
    to {
        right: 0; /* Move the pseudo-element to cover the container from the right */
    }
}

/* Make sure the content of the container has a higher z-index than the background */
#About > *{
    position: relative;
    z-index: 1;
}

/* Styling here for the Courses Card at the bottom of the index page */
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}



/* This is how you typically adjust font sizes for different screen widths */

/* Extra small devices (phones, 430px and down) */
@media only screen and (max-width: 430px) {
    nav a {
      font-size: 10px;
      padding: 5px; /* Reduced padding */
      margin: 0; /* Remove margin or reduce it */
    }

    nav {
        width: 100%; /* Ensure nav takes full width */
    }

    .typewriter {
        font-size: 18px;
       
    }

    #animateName .typewriter {
        transform: translateY(30%); /* Adjust this value as needed */
    
    }

    #Intern {
        padding: 4%;
    }

    #CourseObj {
        margin-bottom: 3%;
    }

    #course1obj {
        margin-top: 10%;
    }

}


  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    nav a {
      font-size: 14px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    nav a {
      font-size: 16px;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    nav a {
      font-size: 18px;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    nav a {
      font-size: 20px;
    }
  }



  
  










  