/* Styling for the h1 of all the courses files */
h1 {
    margin: 1%;
}

h1 a {
    color: inherit;             
    text-decoration: none;      
}

h1 a:hover, h1 a:focus {
text-decoration: underline; 

}

/* Styling for the font of the drop down titles */
.accordion-button {
    font-size: 0.65em; /* 1.5 times the size of the button's current font size */
    font-style: italic;

}

.accordion-button:hover {
    background-color: #007bff; /* Bootstrap primary color for example */
    color: white;
}

/* Styling for the accordion-body text */
.accordion-body {
    font-size: 0.8em;
}
  
/* Styling for the h3 of all the course files */
h3 {
    margin: 1%;
    margin-top: 2%;
}

/* Styling for the p of the Course files */
p{ 
    margin-left: 2%;
    margin-right: 2%;
}


/* Styling for the h4 of the Course files */
h4{
    margin: 3%;
    text-decoration: underline;
}

/* Styling for the list of the Course files */
ul {
    margin: 2%;
}

h5 {
    margin-top: 5%;
}

/* Styling for the Project Descriptions */
.GCPDdescript, 
.BakeOffdescript,
.LLLdescript {
    margin-top: 3%;
    margin-right: 20%;
}